<button type="button" class="a_theme_toggle"
	 data-theme="light"
	 aria-label="Light mode">
	{{> a_icon icon='sun' }}
</button>
<button type="button" class="a_theme_toggle"
	 data-theme="dark"
	 aria-label="Dark mode">
	{{> a_icon icon='moon' }}
</button>
<button type="button" class="a_theme_toggle"
	 data-theme="palette"
	 aria-label="Page theme">
	{{> a_icon icon='palette' }}
</button>
