<section class="o_hero grid" {{{sectionId}}}>
	<div class="col-6">
		{{> a_eyebrow }}
		{{> a_h1 }}
		{{> a_description }}
		{{> m_buttons }}
	</div>
	<div class="col-6">
		{{> a_image }}
	</div>
</section>
