<section class="o_style_guide grid" {{{sectionId}}}
	 style="--copy_label:'{{copy_label}}';--copied_label:'{{copied_label}}';">
	{{> m_section_title }}
	{{#each items}}
	<div class="principle col-4">
		{{> a_image_cover }}
		{{> a_h3 }}
		{{> a_description }}
	</div>
	{{/each}}
</section>
