.o_style_guide {

	.principle {
		padding: 2rem;
		background: var(--bg_surface);
		border: 1px solid var(--color_border);
		border-radius: var(--radius-md);

		.a_image_cover {
			position: relative;
			cursor: pointer;
			margin: -2rem -2rem 2rem;
			overflow: hidden;
			border-radius: var(--radius-md) var(--radius-md) 0 0;
			aspect-ratio: 4 / 3;

			&::before {
				content: attr(data-prompt);
				position: absolute;
				inset: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 2rem;
				background: rgb(0 0 0 / .75);
				color: #fff;
				font-size: .75rem;
				line-height: 1.5;
				text-align: center;
				opacity: 0;
				transition: opacity .3s;
			}

			&::after {
				content: var(--copy_label);
				position: absolute;
				bottom: 1rem;
				left: 50%;
				translate: -50% 0;
				background: rgb(255 255 255 / .2);
				border-radius: var(--radius-sm);
				padding: .25rem .75rem;
				color: #fff;
				font-size: .625rem;
				white-space: nowrap;
				opacity: 0;
				transition: opacity .3s;
			}

			&:hover::before,
			&:hover::after {
				opacity: 1;
			}
		}

		&.copied .a_image_cover::after {
			content: var(--copied_label);
			opacity: 1;
		}

		.a_h3 {
			padding-bottom: 1rem;
		}
	}
}
