<section class="o_faq grid" {{{sectionId}}}>
	{{> m_section_title }}
	{{#splitHalf items}}
	<div class="col-6">
		{{#each items}}
		<details>
			<summary>
				{{> a_h3 }}
				{{> a_icon icon='chevron-down' }}
			</summary>
			<p>{{{answer}}}</p>
		</details>
		{{/each}}
	</div>
	{{/splitHalf}}
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "FAQPage",
		"mainEntity": [
			{{#each items}}
			{
				"@type": "Question",
				"name": {{json a_h3}},
				"acceptedAnswer": {
					"@type": "Answer",
					"text": {{json answer}} }
			}{{#unless @last}},{{/unless}}
			{{/each}}
		]
	}
	</script>
</section>
