#main.debug {
	counter-reset: section;
	& > section {

		&::before {
			counter-increment: section;
			content: counter(section);
			position: absolute;
			display: inline-block;
			top: 0;
			left: 0;
			padding: .5rem;
			font-size: 1rem;
			line-height: 1rem;
			min-width: 2rem;
			text-align: center;
			background-color: #ffffff;
			border: 1px solid #000;
		}
		&::after {
			content: '';
			position: absolute;
			inset: 0 var( --padding-inline );
			z-index: 999;
			pointer-events: none;

			background-image: linear-gradient(to right, #ff00000d 0, #ff00000d calc(100% - 0.5rem), transparent calc(100% - 0.5rem));
			background-size: calc(((100%) + (.5rem)) / 12) 100%;

			@media (min-width: 84rem) { background: repeating-linear-gradient(to right, #ff00000d 0, #ff00000d 5rem, transparent 5rem, transparent 5.5rem ); }
		}
	}
}
